/*
class="menubar"
class="menubarlogo"
class="menubarlinks"
class="hero"
class="herotext"
class="heroimage"><img src="images/ninja-head.png"
class="attributes"
class="attributesbox"
class="attributeitem"
class="attributeitem"
class="attributeitem"
class="attributeitem"
class="quote"
class="actioncall"
class="actionbox"
class="actiontext"
class="footer"
*/

* {
    font-family: 'Roboto', 'Verdana', sans-serif;

}
body {
    padding: 0px;
    margin: 0px;
}

.mainflex {
    display: flex;
}

.gutter {
    width: 20%;
    flex:auto;
    background-color: #141b24;
}

.content {
    width: 80%;
    flex: auto;
}


.menubar {
    position: sticky;
    top: 0;
    display: flex;
    color:#E5E7EB;
    background-color: #1f2937;
    border-bottom: 2px solid #1e324d;
}
.menubarlogo {
    flex: auto;
}

.menubarlogo img {
    height: 50px;
    width: 50px;
    border-radius:20px;
    margin: 15px;
}

.menubarlinks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.menubarlinks a {
    text-decoration: none;
    padding: 30px;
    color:#f9faf8;
    border-left: 2px solid #1e324d;
}

.menubarlinks a:hover {
    color:#f9faf8;
    background-color: #141b24;
}

.hero {
    color: #E5E7EB;
    display: flex;
    background-color: #1f2937;
    padding: 25px 100px 70px 100px;
}

.herotext {
    flex:1;
}

.herotext h1 {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
}

.herotext p {
    color: #E5E7EB;
    font-weight: bolder;
    font-size: 18px;
    padding: 10px;
    padding-right: 50px
}

.hero img {
    flex:none;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

.attributes {
    background-color: white;
    padding: 25px 160px 75px 160px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.attributesbox {
    padding-top: 25px;
    flex: 1 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: top;
    gap: 40px;
}

.attributeitem {
    flex: 1 1 20%;
    flex-flow: row nowrap;
    justify-content: top;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 10px 10px 30px grey;
    border: 1px solid #093d85;
    border-radius: 3px;
}

.attributeitem:hover {
    box-shadow: 10px 10px 20px rgb(49, 49, 49);
    border: 1px solid #000000;
    border-radius: 3px;
}

.attributeitem img {
    width: 100%;
}

.attributeitem p {
    text-align: center;
    margin: 10px;
}


/*
class="quote"
class="actioncall"
class="actionbox"
class="actiontext"
class="footer"
*/

.quote {
    background-color:#E5E7EB;
    padding: 50px 100px 100px 100px;
    color:#1f2937;
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
}

.quoteauthor {
    float:right;
    font-weight: 800;
    font-size: 20px;
    padding-bottom: 20px;
}

.actioncall {
    padding: 50px 100px 50px 100px;
    background-color: white;
}

.actionbox {
    padding: 30px 60px 50px 60px;
    border-radius: 5px;
    background-color: #3882F6;
}

.actiontext {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.actionbox form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.actionbox input {
    height: 42px;
    width: 100%;
    font-size: 24px;
}
.actionbox button {
    width: 160px;
    height: 50px;
    font-size: 16px;
    background-color: #00c70a;
    font-weight: bold;
}

.footer {
    background-color: #1e324d;
    color: #E5E7EB;
    align-items: center;
    height: 40px;
    padding: 20px 100px 20px 100px;
    justify-content: center;
    display: flex;
}